<extend name="Index:base" />
<block name="title"><title>增加报账</title></block>
<block name="sidebar">
	<include file="Index:sidebar" />
</block>

<block name="content">
		<div id="content" class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><strong>报  账  列  表</strong></h4>
				</div>

				<div class="panel-body">
					<form class="form-horizontal" action="{:U('Home/Admin/addAccount?uid=1')}" method='post' enctype="multipart/form-data" >

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">发起人:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="builder" id="builder" placeholder="发起人"/>		
							</div>							
						</div>	

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">发起部门:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="department" id="department" placeholder="发起部门"/>		
							</div>							
						</div>	

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">项目名称:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="project_name" id="project_name" placeholder="项目名称"/>		
							</div>							
						</div>	

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">费用类型:</label>
							<div class="col-sm-5">
								<select class="form-control" name="fee_kind">
									<volist name="data" id="vo">
										<option value="{$vo['id']}">{$vo['fee_kind']}</option>
									</volist>
								</select>	
							</div>							
						</div>	

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">预计金额:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="pre_money" id="pre_money" placeholder="预计金额"/>		
							</div>							
						</div>							

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">附件:</label>
							<div class="col-sm-5">
								<input type="file" class="form-control" name="attachment" id="attachment"/>		
							</div>							
						</div>	

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">内容简介:</label>
							<div class="col-sm-5">
								<textarea class="form-control" name="content" id="content" placeholder="内容简介" rows='11'/></textarea>	
							</div>							
						</div>	

						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">负责人意见:</label>
							<div class="col-sm-5">
								<textarea class="form-control" name="leading_suggestion" id="leading_suggestion" placeholder="负责人意见" rows='8'/></textarea>		
							</div>							
						</div>	


						<div class="form-group">
							<label for="roomname" class="col-sm-2 control-label">总监意见:</label>
							<div class="col-sm-5">								
								<textarea class="form-control" name="director_suggestion" id="director_suggestion" placeholder="总监意见" rows='8'/></textarea>			
							</div>							
						</div>	

						<div class="form-group">
							<label for="status" class="col-sm-2 control-label">审批状态:</label>
							<div class="col-sm-5">					
								<label class="btn btn-danger">
									<input type="radio"  name="status" id="status" checked="checked" value="0" />待定
								</label>
								<label class="btn btn-primary">
									<input type="radio"  name="status" id="status"  value="1" />通过
								</label>							
							</div>
							<label class="col-sm-2 control-label"></label>
						</div>						

						<div class="form-group">
							<label class="col-sm-2 control-label"></label>
							<div class="col-sm-5">
								<button type="submit" class="btn btn-success btn-add">添加</button>								
							</div>							
						</div>
					</form>
				</div>
			</div>
		</div>
</block>

