<div id="sidebar" class="col-sm-2">
		<div class="panel-group" id="accordion">
			<div class="panel panel-primary">
			    <div class="panel-heading">
			     	<h4 class="panel-title">
			       		<a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="glyphicon glyphicon-user"></i> 管 理 事 务</a>
			      	</h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in">
				      	<div class="panel-body">
				         	<ul class=" nav nav-pills nav-stacked">
					          	<li><a href="{:U('Home/Admin/accountList')}">报账列表</a></li>
					      		<li><a href="{:U('Home/Admin/accountAdd')}">添加报账</a></li>
					      		<li><a href="{:U('Home/Admin/newsList')}">新闻列表</a></li>
					      		<li><a href="{:U('Home/Admin/newsAdd')}">添加新闻</a></li>
					      		<li><a href="{:U('Home/Admin/activityList')}">活动列表</a></li>
					      		<li><a href="{:U('Home/User/userList')}">用户列表</a></li>
				      		</ul>
				     	 </div>
			    </div>
	        </div>
	    </div>    
</div>	